body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container-one {
    background-color: #1F2937;
    padding: 30px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.left {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

.nav-bar-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}
.big-font {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}
.hero-left{
    width: 400px;
}
#secondary {
    font-size: 18px;
    color: #E5E7Eb;
    max-width: 500px;
}
.sign-up{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
}
.person{
    width: 500px;
    height: auto;
}